# Rust
target/
Cargo.lock

# Node
node_modules/
assets/client-web/
client-web/bindings/

# Build
/dist/

# Editors
.vscode/
.zed/
.obsidian/

# Environment
.env
recordings/
/config.toml

# Logs
mprocs.log
/logs
