modules = ["rust-stable", "nodejs-20", "web"]
run = "cargo run --release --bin server -- --address 0.0.0.0:9001 --world-radius 500 --airport new_v_pattern & pnpm client-web:dev --host 0.0.0.0 --port 8080"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "pnpm i && pnpm client-web:build"]
deploymentTarget = "static"
publicDir = "client-web/dist"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 9001
externalPort = 6000

[env]
PKG_CONFIG_PATH = "/nix/store/gp504m4dvw5k2pdx6pccf1km79fkcwgf-openssl-3.0.13/lib"
