layout {
  tab name="client" {
    pane split_direction="horizontal" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane split_direction="vertical" {
        pane name="client server" command="pnpm" {
          args "client-web:dev" "--port" "8080"
        }
      }
      pane size=2 borderless=true {
        plugin location="status-bar"
      }
    }
  }
  tab name="server" {
    pane split_direction="horizontal" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane split_direction="vertical" {
        pane name="engine server" command="cargo" {
          args "run" "--bin" "server" "--release" "--" "--address" "0.0.0.0:9001" "--audio-path" "./recordings" "--seed" "2"
        }
      }
      pane size=2 borderless=true {
        plugin location="status-bar"
      }
    }
  }
}
