layout {
  tab name="server" {
    pane split_direction="horizontal" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane split_direction="vertical" {
        pane name="engine server" command="cargo" {
          args "run" "--bin" "server" "--release"
        }
      }
    }
  }
  tab name="client" {
    pane split_direction="horizontal" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane split_direction="vertical" {
        pane name="client builder" command="pnpm" {
          args "client-web:build" "--watch"
        }
        pane name="client server" command="pnpm" {
          args "client-web:preview" "--port" "8080"
        }
      }
    }
  }
}
