[
  (
    id: "20",
    data: Runway(
      a: Value((0.0, 0.0)),
      b: Action(Move(Value((0.0, 0.0)), Value((45.0)), Value((7000.0)))),
    ),
  ),
  (
    id: "B-start",
    data: Var(Position(Action(Move(Ref(A("20")), Action(Add(Value((45.0)), Value((90.0)))), Value((500.0)))))),
  ),
  (
    id: "B",
    data: Taxiway(
      a: Ref(A("B-start")),
      b: Action(Move(Ref(B("20")), Action(Add(Value((45.0)), Value((90.0)))), Value((500.0)))),
    ),
  ),
  (
    id: "A",
    data: Terminal(
      a: Value((0.0, 0.0)),
      b: Value((1000.0, 0.0)),
      c: Value((1000.0, 1000.0)),
      d: Value((0.0, 1000.0)),
      gates: [
        (
          id: "A1",
          data: Gate(
            a: Action(Move(Ref(B("B")), Value((135.0)), Value((600.0)))),
          ),
        ),
        (
          id: "A2",
          data: Gate(
            a: Action(Move(Ref(B("B")), Value((135.0)), Value((1200.0)))),
          ),
        ),
      ],
    ),
  ),
]