[
  // Entity(
  //   id: "20",
  //   data: Runway(
  //     pos: Value(Vec2(0.0, 0.0)),
  //     heading: Value(200.0),
  //     length: Value(7000.0),
  //   )
  // ),
  // Entity(
  //   id: "A",
  //   data: Taxiway(
  //     a: Action(Move(Ref(A("20")), Ref(R("20")), Value(500.0))),
  //     b: Ref(B("20")),
  //   )
  // ),
  Entity(
    id: "A",
    data: Taxiway(
      a: Value(Vec2(0.0, 0.0)),
      b: Value(Vec2(0.0, 1000.0)),
    )
  ),
  Entity(
    id: "B",
    data: Taxiway(
      a: Ref(A("A")),
      b: Ref(B("A")),
    )
  )
]
