.flights {
  h2 {
    margin: 0;
    font-size: 22px;
    margin: 5px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 18px;

    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;

      span {
        width: max-content;
      }

      input,
      select {
        padding-top: 0;
        padding-bottom: 0;
      }

      input[type='number'] {
        width: 8ch;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 {
      font-size: 18px;
    }

    .flight {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border: 1px solid white;
      padding: 5px;

      font-size: 18px;

      gap: 10px;

      cursor: pointer;

      .kind {
        font-weight: bold;
      }

      .callsign {
        color: #00dd00;

        &.outbound {
          color: #3087f2;
        }

        &.selected {
          color: #ffe045;
          font-weight: bold;
        }
      }

      .timer {
        opacity: 0.8;
      }

      button {
        color: #ff6868;
        font-weight: bold;
      }
    }
  }
}
