html,
body,
main {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: black;

  font: 14px monospace;
}

$transparent-black: #000a;

input,
select,
button {
  background-color: $transparent-black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 4px;
}

button,
input[type='button'] {
  cursor: pointer;
}

button:hover,
input[type='button']:hover {
  background-color: #222a;
}

.border {
  border: 1px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;

  width: min-content;
  color: white;

  pointer-events: none;

  & > *:not(.spacer) {
    pointer-events: auto;
  }
}

.spacer {
  flex-grow: 1;
  pointer-events: none;
}

.connection-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: white;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}

.left {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: calc(100% - 10px);
  width: min-content;

  gap: 5px;

  .points {
    font: 16px monospace;
    color: white;
    width: max-content;

    p {
      margin: 0;
      padding: 0;
    }
  }

  #chatbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    background-color: $transparent-black;

    border: 1px solid white;
    min-width: 600px;
    max-width: 20%;

    .controls {
      display: flex;
      gap: 5px;

      border-bottom: 1px solid white;
      padding-bottom: 5px;

      input {
        border: 1px solid white;
        color: white;
        background-color: transparent;
        font-size: 14px;
        padding: 4px;

        &.danger {
          font-weight: bold;
          color: rgb(255, 78, 78);
        }
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      gap: 5px;

      padding-top: 5px;

      min-height: 200px;
      max-height: 200px;
      overflow-y: auto;
      color: white;

      .message {
        .frequency {
          color: #fffa;
        }

        .callsign {
          color: #00dd00;
          font-weight: bold;
          margin-left: 5px;

          &.atc {
            color: red;
          }
        }

        .text {
          margin-left: 5px;
        }

        &.selected {
          .callsign {
            color: #ffe045;
          }
        }
      }
    }

    &.live {
      border-color: red;
    }

    .input {
      display: flex;
      flex-direction: row;
      gap: 5px;

      input {
        flex-grow: 1;
        border: 1px solid white;
        background-color: transparent;
        font-size: 14px;
        padding: 4px;
        color: white;
      }
    }
  }
}

#radar {
  display: flex;
  flex-direction: column;
  height: 100%;

  .bottom-right-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: $transparent-black;
    border: 1px solid white;

    & > button {
      border: 1px solid white;
      color: white;
      background-color: transparent;
      font-size: 14px;
      padding: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .talk-button {
      &.recording {
        // font-weight: bold;
        color: rgb(255, 78, 78);
      }
    }

    .tts-toggle {
      &.enabled {
        color: hsl(0, 100%, 65%);
      }

      &:not(.enabled) {
        color: hsl(110, 100%, 65%);
      }
    }
  }

  #radar-tabs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: $transparent-black;

    position: absolute;
    top: 5px;

    button {
      font-size: 16px;

      background-color: transparent;
      padding: 5px;

      border: 1px solid white;
      color: white;

      &.selected {
        border-color: green;
      }
    }
  }

  canvas {
    flex: 1;
    height: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;

    pointer-events: none;

    & > * {
      pointer-events: auto;
    }

    height: calc(100% - 10px);

    gap: 5px;

    #stripboard {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;

      position: relative;
      background-color: $transparent-black;

      border: 1px solid white;

      min-width: 300px;

      overflow-y: auto;

      color: white;

      .header {
        @extend .strip;

        padding: 2px 10px !important;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid white;
        cursor: default !important;
      }

      .separator {
        border: 1px solid green;
      }

      .strip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border: 1px solid grey;
        padding: 5px 10px;

        gap: 15px;

        cursor: pointer;
        user-select: none;

        .vertical {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          flex: 1;
        }

        .intention,
        .timer {
          color: #fffa;
        }

        .callsign {
          color: #00dd00;
        }

        &.theirs {
          opacity: 0.5;
        }

        &.departure {
          .callsign {
            color: #3087f2;
          }
        }

        &.colliding {
          border: 1px solid #ff2222;

          .callsign {
            color: #ff2222;
            font-weight: bold;
          }
        }

        &.selected {
          .callsign {
            color: #ffe045;
            font-weight: bold;
          }
        }
      }
    }

    #freq-selector {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      pointer-events: none;

      gap: 5px;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: min-content;

        gap: 5px;

        pointer-events: auto;
      }

      input {
        max-width: 80px;
        flex-grow: 1;
        padding: 10px;
        font-size: inherit;
      }

      select {
        flex-grow: 1;
        padding: 10px;
        font-size: inherit;
      }
    }
  }
}
