html,
body,
main {
  margin: 0;
  padding: 0;

  height: 100%;

  background-color: black;
}

$transparent-black: #000a;

#radar {
  display: flex;
  flex-direction: column;
  height: 100%;

  font: 14px monospace;

  #radar-tabs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: $transparent-black;

    position: absolute;
    top: 5px;

    button {
      font-size: 16px;

      background-color: transparent;
      padding: 5px;

      border: 1px solid white;
      color: white;

      &.selected {
        border-color: green;
      }
    }
  }

  #chatbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: $transparent-black;

    border: 1px solid white;
    min-width: 600px;
    max-width: 20%;

    .controls {
      display: flex;
      gap: 5px;

      border-bottom: 1px solid white;
      padding-bottom: 5px;

      input {
        border: 1px solid white;
        color: white;
        background-color: transparent;
        font-size: 14px;
        padding: 4px;

        &.danger {
          font-weight: bold;
          color: rgb(255, 78, 78);
        }
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      gap: 5px;

      padding-top: 5px;

      min-height: 200px;
      max-height: 200px;
      overflow-y: auto;
      color: white;

      .message {
        .frequency {
          color: #fffa;
        }

        .callsign {
          color: red;
          font-weight: bold;
          margin-left: 5px;
        }

        .text {
          margin-left: 5px;
        }
      }
    }

    &.live {
      border-color: red;
    }
  }

  canvas {
    flex: 1;
    height: 100%;
  }

  .top-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;

    gap: 5px;

    #stripboard {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;

      position: relative;
      min-height: 200px;
      background-color: $transparent-black;

      border: 1px solid white;
      min-width: 300px;
      max-width: 20%;

      color: white;

      .header {
        @extend .strip;

        padding: 2px 10px !important;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid white;
      }

      .separator {
        border: 1px solid green;
      }

      .strip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border: 1px solid grey;
        padding: 10px 10px;

        cursor: grab;
        user-select: none;

        .intention,
        .timer {
          color: #fffa;
        }

        &.overtime {
          .timer {
            color: red;
          }
        }

        .callsign {
          color: #00dd00;
        }

        &.theirs {
          opacity: 0.5;
        }
      }
    }

    #freq-selector {
      display: flex;
      flex-direction: row;

      gap: 5px;

      input {
        background-color: $transparent-black;
        border: 1px solid white;
        color: white;
        font-size: inherit;

        width: 80px;
        padding: 10px 10px;
        flex-grow: 1;

        &.swap {
          width: 40px;
          font-size: 30px;
        }
      }
    }
  }
}
