html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.radar {
  display: flex;
  flex-direction: column;
  height: 100%;

  #chatbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    position: absolute;
    bottom: 0;
    min-height: 200px;
    max-height: 200px;
    background-color: #000000aa;

    overflow-y: auto;

    border: 1px solid white;
    min-width: 300px;
    max-width: 20%;

    font: 14px monospace;

    .message {
      .callsign {
        color: red;
        font-weight: bold;
      }

      .text {
        margin-left: 5px;
        color: white;
      }
    }

    &.live {
      border-color: red;
    }
  }

  canvas {
    flex: 1;
    border: 1px solid black;
    height: 100%;
  }
}
